timm
omegaconf
numpy
opencv-python
loguru
scikit-image
tqdm
Pillow
thop
tabulate
easydict
cython
pycocotools
funcy
astor
scikit-learn
scikit-multilearn @ git+https://github.com/scikit-multilearn/scikit-multilearn.git@0.2.0
onnxruntime-gpu
albumentations
matplotlib
onnxscript